/node_modules
.kiro
.qoder
.clinerules
digest.txt
.kilocode
/be/.env
/be/node_modules
/be/dist
/be/.kiro
/be/.qoder
/be/.clinerules
/be/digest.txt
/be/.kilocode
/fe/.env
/fe/node_modules
/fe/dist
/fe/.kiro
/fe/.qoder
/fe/.clinerules
/fe/digest.txt
/feUser/node_modules
/feUser/dist
/feUser/.next
/feAdmin/node_modules
/feAdmin/dist
/feAdmin/.env

feUser/.github/copilot-instructions.md
fe
/fe

feUser/.env.local
feAdmin/.env
be/.env

feUser/.env.local
